@font-face {
  font-family: "Phosphor";
  src: url("./Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ph {
  display: inline-block;
  font-family: "Phosphor" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-down::before { content: "\e03e"; }
.ph.ph-check::before { content: "\e182"; }
.ph.ph-clock::before { content: "\e19a"; }
.ph.ph-clock-countdown::before { content: "\ed2c"; }
.ph.ph-code::before { content: "\e1bc"; }
.ph.ph-envelope-simple::before { content: "\e218"; }
.ph.ph-file-text::before { content: "\e23a"; }
.ph.ph-gear-six::before { content: "\e272"; }
.ph.ph-github-logo::before { content: "\e576"; }
.ph.ph-instagram-logo::before { content: "\e2d0"; }
.ph.ph-layout::before { content: "\e6d6"; }
.ph.ph-map-pin::before { content: "\e316"; }
.ph.ph-robot::before { content: "\e762"; }
.ph.ph-rocket-launch::before { content: "\e3fe"; }
.ph.ph-shield-check::before { content: "\e40c"; }
.ph.ph-whatsapp-logo::before { content: "\e5d0"; }
.ph.ph-x::before { content: "\e4f6"; }
.ph.ph-x-logo::before { content: "\e4bc"; }
